# Logs
project/logs
project/*.log
project/npm-debug.log*
project/yarn-debug.log*
project/yarn-error.log*
project/pnpm-debug.log*
project/    lerna-debug.log*

project/node_modules
project/.DS_Store
project/dist
project/dist-ssr
project/coverage
project/*.local

project/cypress/videos/
project/cypress/screenshots/

# Editor directories and files
project/.vscode/*
project/!.vscode/extensions.json
project/.idea
project/*.suo
project/*.ntvs*
project/*.njsproj
project/*.sln
project/*.sw?

project/*.tsbuildinfo

project/node_modules/
node_modules/
backend/.cache/
backend/.env
